<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EliteTradeSearch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EliteTradeSpace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <EliteTradeSearch.Properties.Settings>
            <setting name="DataDir" serializeAs="String">
                <value>_NOTSET_</value>
            </setting>
            <setting name="SystemsPopulatedURL" serializeAs="String">
                <value>https://eddb.io/archive/v5/systems_populated.jsonl</value>
            </setting>
            <setting name="StationsURL" serializeAs="String">
                <value>https://eddb.io/archive/v5/stations.jsonl</value>
            </setting>
            <setting name="PricesURL" serializeAs="String">
                <value>https://eddb.io/archive/v5/listings.csv</value>
            </setting>
            <setting name="CommoditiesURL" serializeAs="String">
                <value>https://eddb.io/archive/v5/commodities.json</value>
            </setting>
        </EliteTradeSearch.Properties.Settings>
        <EliteTradeSpace.Properties.Settings>
            <setting name="DataDir" serializeAs="String">
                <value>_NOTSET_</value>
            </setting>
        </EliteTradeSpace.Properties.Settings>
    </userSettings>
</configuration>